<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">GERENCIADOR DE FUNCIONÁRIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Adicionar Funcionário<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Buscar funcionário..." required>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">

    <div *ngFor="let employee of employees" class="col-md-4">
      <div class="card user-card">
        <div class="card-block">
          <div class="user-image">
            <img src="{{employee?.imageUrl}}" class="img-radius" alt="User-Profile-Image">
          </div>
          <h6 class="f-w-600 m-t-25 m-b-10">{{employee?.name}}</h6>
          <p class="text-dark">{{employee?.jobTitle}}</p>
          <hr>
          <p class="text-dark m-t-15">{{employee.email}}</p>
          <p class="text-dark m-t-15">Telefone: {{employee.phone}}</p>

          <hr>
          <div class="btn-group-sm pull-bottom">
            <a (click)="onOpenModal(employee, 'edit')"  class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
              <i class="fa fa-pencil"></i>
            </a>
            <a (click)="onOpenModal(employee, 'delete')"  class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
              <i class="fa fa-close"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Adicionar Funcionário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Nome" required>
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" ngModel name="email" class="form-control" id="email" placeholder="E-mail" required>
            </div>
            <div class="form-group">
              <label for="phone">Cargo</label>
              <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Cargo" required>
            </div>
            <div class="form-group">
              <label for="phone">Telefone</label>
              <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Telefone" required>
            </div>
            <div class="form-group">
              <label for="phone">Link da Foto</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Link" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Adicionar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeModalLabel">Alterar Funcionário: {{editEmployee?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nome">
            </div>
            <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
            <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="E-mail">
            </div>
            <div class="form-group">
              <label for="phone">Cargo</label>
              <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Cargo">
            </div>
            <div class="form-group">
              <label for="phone">Telefone</label>
              <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Telefone">
            </div>
            <div class="form-group">
              <label for="phone">Link da Foto</label>
              <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Link">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fechar</button>
              <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Salvar Alterações</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Excluir Funcionário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir o funcionário  {{deleteEmployee?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            <button (click)="onDeleteEmployee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NENHUM FUNCIONÁRIO!</h4>
    <p>Nenhum funcionário foi encontrado.</p>
  </div>
</div>
